@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-farma-forest: #101B14;
  --color-farma-cream: #FBF9F5;
  --color-farma-sand: #ECE6D6;
  --color-farma-sand-dark: #DFD8C4;
  --color-farma-green: #2A5C38;
  --color-farma-green-light: #3F6B47;
  --color-farma-gold: #D9A63E;
  --color-farma-gold-hover: #c99834;
  --color-farma-terracotta: #E76F51;
}